<div class="min-h-screen bg-black flex items-center justify-center">
  <form id="regForm" class="form-cappen bg-white flex flex-col w-[700px] px-10 py-2" method="post" action="submit_page.php">
    <div class="container pb-1 border-b border-solid border-black flex flex-row justify-between items-center px-2">
        <picture class="w-[48px] inline-block ">
            <img src="/assets/img/genesis_logo-transparent.png" alt="">
        </picture>
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="9" viewBox="0 0 10 9"><g fill="none" fill-rule="evenodd" stroke="#000"><path d="M6 0L6 12M12 6L0 6" transform="rotate(45 7.328 4.036)"></path></g></svg>
    </div>
    <h3 class="text-black font-medium text-2xl"> ĐĂNG NHẬP </h3>
        <div class="block">
            <span class="text-gray-700"> Chưa có tài khoản ? </span>
            <a class="text-blue-500 underline font-medium" [routerLink]="['/register']"> Tạo ngay </a>
        </div>
    <div class="container py-4">
        Ten Dang Nhap
        <input type="text" class="">
        Mat Khau cua ban
        <input type="password" name="" id="">
    </div>
    <span> Hoac su dung </span>
    <div class="container">
        
    </div>
</form>
</div>