<div class="max-w-sm relative border-solid border-t-2 border-purple-500">
  <a href=" #" class="group">
    <div class="aspect-w-1 aspect-h-1 w-full overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
      <img src="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-01.jpg"
        alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
        class="h-full w-full object-cover object-center group-hover:opacity-75">
    </div>
  </a>
  <button class="bg-white p-2 rounded-bl-sm absolute right-0 top-0 shadow-md hover:opacity-75">
    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" fill="gray"
      class="active:scale-90">
      <path d="M18 1l-6 4-6-4-6 5v7l12 10 12-10v-7z" />
    </svg>
  </button>
  <div class="bg-none flex flex-row justify-between">
    <div class="flex-1 pl-5 py-2">
      <h3 class="text-md font-medium text-white dark:text-white">Bình Vô Dụng</h3>
      <p class="text-sm text-gray-400"> 48,000₫</p>
    </div>
    <button class="w-[25%] flex flex-row justify-around items-center hover:opacity-75">
      <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="gray" width="17" height="17" viewBox="0 0 32 32" aria-hidden="true"><circle cx="10" cy="28" r="2"></circle><circle cx="24" cy="28" r="2"></circle><path d="M4.9806,2.8039A1,1,0,0,0,4,2H0V4H3.18L7.0194,23.1961A1,1,0,0,0,8,24H26V22H8.82l-.8-4H26a1,1,0,0,0,.9762-.783L29.2445,7H27.1971l-1.9989,9H7.62Z"></path><path d="M21.586 6.586L18 10.172 18 2 16 2 16 10.172 12.414 6.586 11 8 17 14 23 8 21.586 6.586z"></path><title>Shopping cart arrow down</title></svg>
    </button>
  </div>
</div>